{
  "extends": "lifion",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "import/extensions": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "jest/no-conditional-expect": "off",
    "radar/no-identical-functions": "off",
    "unicorn/no-array-callback-reference": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/prefer-object-from-entries": "off",
    "no-secrets/no-secrets": ["error", {
      "ignoreContent": [
        "NoSuchLifecycleConfiguration",
        "Kinesis_20131202.SubscribeToShard",
        "ProvisionedThroughputExceededException",
        "InvalidArgumentException",
        "SubscribeToShardEvent",
        "params.provisionedThroughput.writeCapacityUnits",
        "eyJmb28iOiJiYXIsIGJhesQFxgoifQ==",
        "Qk2rZuty0pO/vptdjx3KZ2hUqVM=",
        "n0vR6WyiMI1VeNqoISbuIEPoMPM=",
        "hoKe98qHWTKVJg\\+g8IEsdvvnrLI=",
        "uM9dgBWF4OGL42Uqbr61Yyt5h58="
      ]
    }]
  },
  "overrides": [
    {
      "files": ["lib/*.test.js", "__mocks__/*.js"],
      "rules": { "func-names": "off" }
    },
    {
      "files": ["lib/records.js"],
      "rules": { "promise/catch-or-return": "off" }
    },
    {
      "files": ["lib/records.js", "lib/fan-out-consumer.js"],
      "rules": {
        "no-underscore-dangle": [
          "warn",
          {
            "allow": ["_transform", "_write"],
            "allowAfterSuper": false,
            "allowAfterThis": false,
            "enforceInMethodNames": true
          }
        ]
      }
    },
    {
      "files": ["lib/fan-out-consumer.js"],
      "rules": {
        "max-classes-per-file": ["error", 4]
      }
    }
  ]
}
